############################################################################
#                             Ledger Snippets                              #
############################################################################

snippet ent "Entry" b
`!v strftime("%Y/%m/")`${1:`!v strftime("%d")`} ${2:Payee}
    ${3:To}  ${4:Value}
    ${5:From}
endsnippet
