[user]
    name = Dan Callahan
    email = dan.callahan@gmail.com
[alias]
    ci = commit
    st = status
    glog = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
[color]
    ui = auto
[core]
    quotepath = false
    precomposeunicode = true
[difftool "Kaleidoscope"]
    cmd = ksdiff-wrapper git \"$LOCAL\" \"$REMOTE\"
[difftool]
    prompt = false
[diff]
    tool = Kaleidoscope
