[user]
    name = Jorge Rimblas
    email = jorge@rimblas.com
[alias]
    ci = commit
    st = status
    glog = log --pretty=format:\"%C(yellow)%h %C(cyan)%ad%Cred%d %Creset%s%Cblue [%an]\" --graph --decorate --date=short
[core]
    quotePath = false
    precomposeUnicode = true
[push]
    default = simple
