! -- URxvt --
! Fonts
URxvt.font:           xft:DejaVu Sans Mono:size=11
URxvt.boldFont:       xft:DejaVu Sans Mono:size=11:style=Bold
URxvt.italicFont:     xft:DejaVu Sans Mono:size=11:style=Oblique
URxvt.boldItalicFont: xft:DejaVu Sans Mono:size=11:style=Bold Oblique
URxvt.letterSpace: -2

! Colors
! Black, Red, Green, Yellow, Blue, Magenta, Cyan, White
URxvt.color0:  #000000
URxvt.color1:  #eb0000
URxvt.color2:  #36af00
URxvt.color3:  #d4b000
URxvt.color4:  #3077b7
URxvt.color5:  #905e8f
URxvt.color6:  #00acac
URxvt.color7:  #dadfd7

URxvt.color8:  #676a65
URxvt.color9:  #ff0017
URxvt.color10: #79ed1f
URxvt.color11: #feef45
URxvt.color12: #79aedb
URxvt.color13: #c48db8
URxvt.color14: #00ecea
URxvt.color15: #f1f1ef

URxvt.foreground:   #fffeff
URxvt.background:   #000000
URxvt.cursorColor:  #ef008d
URxvt.cursorColor2: #000000

! Visual Effects and Function
URxvt.fading: 50
URxvt.visualBell: True
URxvt.urgentOnBell: True
URxvt.scrollBar: False

! Scrollback
URxvt.saveLines: 8196
URxvt.secondaryScroll: False

! Perl Extensions
! font-size extension from https://github.com/majutsushi/urxvt-font-size
URxvt.perl-ext-common: selection,searchable-scrollback,readline,font-size
URxvt.keysym.Control-minus: perl:font-size:decrease
URxvt.keysym.Control-plus:  perl:font-size:increase
URxvt.keysym.Control-equal: perl:font-size:increase
URxvt.keysym.Control-0: perl:font-size:reset
